table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
.users-list li   {
  cursor: pointer;
}
.jumbotron .glyphicon {
  font-size: 80px;
}